<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div
                class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Permisos de Rol </h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-body font-normal inline-block me-2">Gestion Roles</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Permisos</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7 pb-0">
            <div class="inventual-managesale-area bg-white p-7 custom-shadow rounded-8 mb-5">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="flex flex-wrap gap-5 mb-5 items-end">
                            <div class="inventual-select-field flex-grow max-w-[350px]">
                                <h4 class="text-[15px] font-bold text-heading mb-3">Elige el Rol</h4>
                                <div class="inventual-select-field-style">
                                  <mat-form-field>
                                    <mat-select class="block" [placeholder]="'Selecionar Rol'" class="form-control" id="rolesId" [(ngModel)]="permisosRoles.rolId"  name="rolesId">
                                      <mat-option *ngFor="let rol of roles$ | async" [value]="rol.id">
                                        {{ rol.nombre }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <button type="button" class="inventual-btn primary-btn" (click)="actualizarPermisos()">Actualizar Permisos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inventual-role-area">
                    <div class="inventual-role-inner">
                        <div
                            class="inventual-role-inner-wrapper border border-solid border-border border-b-0 mb-7">
                            <div
                                class="inventual-role-list border-b border-solid border-border flex items-center">
                                <div class="inventual-role-left">
                                    <div class="inventual-role-topic">
                                        <h5 class="text-[18px] font-semibold text-heading mb-4">Todas las funciones</h5>
                                        <div class="inventual-role-checkbox default-light-theme">
                                            <mat-checkbox class="example-margin" [checked]="allComplete"
                                                [color]="task.color" [indeterminate]="someComplete()"
                                                (change)="setAll($event.checked)">
                                                {{task.name}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="inventual-role-right w-full border-s border-solid border-border">
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Empleados</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck1($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck2($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck3($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck4($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Contratos</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck5($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck6($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck7($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck8($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Lista Actividades</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck9($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Control Asistencia</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck10($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Vacaciones</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck11($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck12($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck13($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck14($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Decuentos</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck15($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck16($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck17($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck18($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b-0 border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Bonos</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck19($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck20($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck21($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck22($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b-0 border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Horarios</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck23($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck24($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck25($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck26($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b-0 border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Salarios</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck27($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck28($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck29($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck30($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="inventual-role-category-list custom-height-70 flex items-center border-b-0 border-solid border-border">
                                        <div class="inventual-role-category">
                                            <h5>Sucursales</h5>
                                        </div>
                                        <div class="inventual-role-checkbox-wrapper">
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck31($event.checked)">
                                                    Agregar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck32($event.checked)">
                                                    Ver
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck33($event.checked)">
                                                    Editar
                                                </mat-checkbox>
                                            </div>
                                            <div class="inventual-role-checkbox default-light-theme">
                                                <mat-checkbox [color]="'primary'" [checked]="allComplete"
                                                    class="updateItem" (change)="setSingleCheck34($event.checked)">
                                                    Eliminar
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>