<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Actualizar Usuario: {{data.usuario.nombre}}</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 md:col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">Juan</mat-label>
                            <input matInput [placeholder]="'Ej. Juan'" type="text" class="form-control" id="nombre" [(ngModel)]="user.nombre" name="name">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Apellido Materno</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">Paredes</mat-label>
                            <input matInput [placeholder]="'Ej. Paredes'" type="text" class="form-control" id="primerApellido" [(ngModel)]="user.primerApellido" name="primerApellido">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Apellido Paterno</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">Mendoza</mat-label>
                            <input matInput [placeholder]="'Ej. Mendoza'" type="text" class="form-control" id="segundoApellido" [(ngModel)]="user.segundoApellido" name="segundoApellido">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Telefono</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">00 000 000 000</mat-label>
                            <input matInput [placeholder]="'Ej. 00 000 000 000'" type="text" class="form-control" id="telefono" [(ngModel)]="user.telefono" name="telefono">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Direccion</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">Ciudad, Barrio, Calle</mat-label>
                            <input matInput [placeholder]="'Ciudad, Barrio, Calle'" type="text" class="form-control" id="direccion" [(ngModel)]="user.direccion" name="direccion">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">joseph&#64;example.com</mat-label>
                            <input type="email" matInput [placeholder]="'Ej. joseph@example.com'" type="text" class="form-control" id="correo" [(ngModel)]="user.correo" name="correo">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Rol</h5>
                        <div class="inventual-select-field-style">
                          <mat-form-field>
                            <mat-select class="block" [placeholder]="'Selecionar Rol'" class="form-control" id="rolesId" [(ngModel)]="user.rolesId"  name="rolesId">
                              <mat-option *ngFor="let rol of roles$ | async" [value]="rol.id">
                                {{ rol.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Fecha de Ingreso</h5>
                        <div class="inventual-input-field-style">
                          <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">Elige tu fecha</mat-label>
                            <input matInput [matDatepicker]="picker2" [placeholder]="'MM/DD/YYYY'" class="form-control" id="fechaIngreso" [(ngModel)]="user.fechaIngreso" name="fechaIngreso">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>                
                        </div>
                    </div>
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Sucursal</h5>
                        <div class="inventual-select-field-style">
                          <mat-form-field>
                            <mat-select class="block" [placeholder]="'Selecionar Sucursal'" class="form-control" id="sucursalId" [(ngModel)]="user.sucursalId" name="sucursalId">
                              <mat-option *ngFor="let sucursal of sucursales$ | async" [value]="sucursal.id">
                                {{ sucursal.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary" (click)="actualizarUsuario()">Actualizar Usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>