<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div
        class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-menu></app-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-header></app-header>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
        <div class="inventual-breadcrumb-area-inner px-0.5">
          <h5 class="text-[20px] text-heading font-bold mb-3">Agregar Descuento</h5>
          <div class="inventual-breadcrumb-area-inner-wrap">
            <span class="text-[14px] text-body font-normal inline-block me-2">Gestion de Descuentos</span>
            <span class="text-[14px] text-body font-normal inline-block me-2">></span>
            <span class="text-[14px] text-body font-normal inline-block me-2">Agregar Descuento</span>
          </div>
        </div>
      </div>
      <div class="inventual-content-area px-7">
        <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
            <div class="col-span-12 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Empleado</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecciona Empleado'">
                      <mat-option value="language-1">Juan Lopez</mat-option>
                      <mat-option value="language-2">Alberto Flores</mat-option>
                      <mat-option value="language-2">Ignacio Carvajal</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Tipo de descuento</h5>
                <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">Cumplio 1 año</mat-label>
                      <input matInput [placeholder]="'Descuento por Atraso'">
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Monto</h5>
                <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">Cumplio 1 año</mat-label>
                      <input matInput [placeholder]="'9999'">
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Justificacion</h5>
                <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">Llego tarde</mat-label>
                      <input matInput [placeholder]="'Llego tarde'">
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Fecha de Descuento</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Elige tu fecha</mat-label>
                    <input matInput [matDatepicker]="picker" [placeholder]="'MM/DD/YYYY'">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                
                </div>
              </div>
            </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">         
                <button mat-raised-button color="primary">Registrar Descuento</button>     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <app-copyright></app-copyright>
      </div>
    </div>
  </div>