<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Asignar turno</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 md:col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-7">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Turno</h5>
                        <div class="inventual-select-field-style">
                          <mat-form-field>
                            <mat-select class="block" [placeholder]="'Selecionar Turno'" class="form-control" id="turnoId" [(ngModel)]="horario.turnoId" name="turnoId">
                              <mat-option *ngFor="let turno of turnos" [value]="turno.id">
                                {{ turno.nombre+" - "+turno.dia+" ("+(turno.horaInicio | date:'HH:mm')+" - "+(turno.horaFin | date:'HH:mm')+")" }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary" (click)="agregarHorario()">Asignar Horario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>